---
layout: default
---

<main id="main" class="main-content" aria-label="Content">
  <article class="h-entry">
    {% include page-image.html %}
    <div class="page-wrapper">
      <header class="page-header">
        {% assign title = page.title | markdownify | strip_html %}
        {% if page.link %}
          <h1 id="page-title" class="page-title p-name"><a href="{{ page.link }}">{{ title }} <span class="link-arrow">&rarr;</span></a></h1>
        {% else %}
          <h1 id="page-title" class="page-title p-name">{{ title }}</h1>
        {% endif %}
      </header>

      <div class="page-sidebar">
        {% include page-author.html %}
        {% include page-categories.html %}
        {% include page-tags.html %}
		{% include page-languages.html %}
	  </div>

      <div class="page-content">
        <div class="e-content">
			<br/>
			{{ content }}
      {% if page.filepath %}
        {% if site.lang == "en" %}

        {{ "---" | markdownify }}
        <br/>
        <h4>To Reader</h4>
        <div> Thank you for reading this post! If you find some error, misspelling, or something awkward, please feel free to contribute <a href="{{page.filepath}}">here!</a></div>
        <br/>

        {% endif %}
			{% endif %}
        </div>

        {% if page.share %}
          {% include social-share.html %}
        {% endif %}

        {% if site.disqus.shortname %}
          {% include disqus-comments.html %}
        {% endif %}

        {% include page-pagination.html %}
      </div>
    </div>
  </article>
</main>
